@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;600&display=swap");

html,
body {
  height: 100%;
}

body {
  background-color: #f8efd4; /* Light pastel background */
  font-family: "Poppins", sans-serif;
  color: #333;
  max-width: 800px;
  margin: auto;
}

h1,
h2,
h3,
.highlight {
  font-family: "Poppins", sans-serif;
  color: #3498db;
}

form {
  background-color: #fff8e1;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #3498db;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #3498db; /* Primary blue for buttons */
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2878a9; /* Darker shade of primary blue for hover effect */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #3498db; /* Primary blue for links */
}

a:hover {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: auto;
}

.larger-link {
  font-size: 5em;
}
