<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toppings</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <body>
      <h1>Manage Toppings</h1>
      <form action="/toppings" method="post">
        <label for="topping_name">Topping Name:</label>
        <input type="text" id="toppingName" name="toppingName" required />
        <button type="submit">Add Topping</button>
      </form>
      <ul>
        {% for topping in availableToppings %}
        <li>{{ topping }} <a href="/deleteTopping/{{ topping }}">Delete</a></li>
        {% endfor %}
      </ul>
      <a href="/pizza">Back to Pizzas</a>
    </body>
  </body>
</html>
